body {
  min-height: 700px;
  text-align: center;
  background-image: linear-gradient(#9BCDD2,#FF8551,#FAF0E4);
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.Heading{
  
  font-size: 50px;
  font-weight: bold;
  text-shadow: 2px 2px 2px  aqua;
}
button{
  margin: 50px 50px 100px;
  font-size: large;
  padding: 20px;
  border-radius: 30px;
}

.Btn1{
  background-color: rgb(111, 199, 199);
  border: 3px solid black;
}
.Btn2{
  background-color: rgb(111, 199, 199);
  border: 3px solid black;
}
.Btn1:hover{
  background-color: cyan;
}
.Btn2:hover{
  background-color: cyan;
}

@media only screen and (min-width:350px) and (max-width:500px){
  .Heading{
    font-size: 30px;
  }
  button{
    margin: 20px 00px 30px;
    
  }
 
}